@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
  background-image: url("../../bg.jpg");
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1360px;
  width: 86%; 
  margin: 0 auto;
}
/*=================================
  Header styling starts here
=================================*/
/* header{
 
} */
header>div{
  height: 50vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url('https://via.placeholder.com/1920x600');
}
.header-logo>a{
  margin-left: 50px;
  color:white;
  font-size: 4rem;

  text-transform: uppercase;
  text-shadow: 0 4px black;
}
.header-logo>a>p{

  color:white;
  font-size: 1.5rem;
  text-shadow: 0 2px 2px black;
}
nav{
  /* position: absolute; */
  /* float: bottom; */
 /* top:100%; */
/* position: absolute; */

border-bottom: 10px solid #056499;
 display: block;

}
.navmenu{
  display: flex;
  background-color:rgba(0, 0, 0, 0.7) ;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.navitem:first-child{
  padding-left: 25px;
}
.navitem:last-child{
  padding-right: 25px;
}
.navitem>a{
  padding:25px 40px;
  display: inline-flex;
  color: white;
  font-size: 1.2rem;
}
.navitem>a:hover{
  color:#3b75c3;
}
.active.navitem>a{
  color:#3b75c3;
}
/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/
.welcome-section>div{
  background-color: white;
}
.welcome{
  padding-top: 100px;
  padding-left: 50px;
  margin-bottom: 20px;
  font-size: 2rem;
  color:#a8a7a6;

}

.welcome-message{
  margin-top: 10px;
  margin-bottom: 50px;
  padding-left: 50px;
  font-size: 1.2rem;
  color: #a8a7a6;
}
.welcome-gallery{
  width: 100%;
  margin-left: 50px;
  display: flex;
    justify-content: space-between;
    /* align-items: center; */
flex-wrap: wrap;
}
.gallery-item{
  flex-basis: 25%;
}
.gallery-item>a{
  text-decoration: none;
color:#99a0a7;
}
.gallery-img:hover{
  transform: scale(1.5);
}
.gallery-img-caption{
  margin-top: 20px;
  margin-bottom: 50px;
  text-align: center;
  font-size: 1.2rem;
  line-height: 1.6;
}

.pagination{
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.pagination-item{
  width:20px;
  height: 20px;
  padding:10px;
  margin:50px 10px 100px 10px;
  display: block;
  background-color: #ededed;
  text-align: center;
}
.pagination-item:first-of-type{
  background-color: #076599;
}
.pagination-item>a{
  text-decoration: none;
  color:#a8a7a6;

}
.pagination-item:hover{
  cursor: pointer;
  transform: scale(1.2);
  background-color:#076599;
}
.pagination-item>a:hover{
  color:white;
}
ul.pagination:first-child{
  color: white;
}

.need-help-article{
  background-color: #076599;
  display: flex;
}
.need-help-article>figure{
  flex-basis: 30%;
}

.need-help-article>figure>img{
  margin-top: 20px;
  margin-left: 20px;
}
.need-help-div>figure{
  margin:0 auto;
  display: block;
}
.need-help-div{
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}
.need-help-div>h2{
  margin-left: 50px;
  margin-top: 50px;
font-size:2rem;
color:white;
}
.need-help-div>p{
  
  margin-top: 20px;
  margin-left: 50px;
  color:white;
  font-size: 1.2rem;
  line-height: 1.6;
}
.need-help-div>a{
  width: 100px;
  padding:15px 30px;
  margin-left: 50px;
  margin-top: 50px;
  border:2px solid white;
  text-decoration: none;
  color: white;
  
}

.need-help-div>a:hover{
  padding-left: 40px;
  background-color: white;
  color:#076599;
  font-weight: bold;
}

/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 

footer>div{
  height: 10vh;
  display: flex;
  background-color: #333333;
  justify-content: center;
  align-items: center;
}

footer>div>p{
  color:white;
  font-size: 1.2rem;
}




 /*=================================
  footer styling ends here
=================================*/ 

/*media query starts*/
/*media query for 995px starts here*/
@media only screen and (min-width:768px) and (max-width: 995px) {

  .gallery-item{
    /* flex:25%; */
    flex-basis: 50%;
  }
  

}  

@media only screen and (max-width:768px){
  .gallery-item{
  
    flex-basis: 100%;
  }
  
}