@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
  background-image: url("../../bg.jpg");
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1903px;
  width: 80.08%; 
  margin: 0 10.5% 0 9.45%;
}
/*=================================
  Header styling starts here
=================================*/
/* header{
 
} */
header>div{
  /* height: 50vh; */
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url('https://via.placeholder.com/1920x667');
}
.header-logo>a{
  margin-top: 94px;
  margin-left: 110px;
  color:white;
  font-size: 4rem;

  text-transform: uppercase;
  text-shadow: 0 4px black;
  text-indent: -9999px;
}
.navmenu{
  padding-top: 40px;
  padding-bottom: 40px;
}
h1{
  margin-bottom: 326px;
}
.header-logo>a >img{
  float: right;

}
.header-logo>a>p{
  color:white;
  font-size: 1.5rem;
  text-shadow: 0 2px 2px black;
}
nav{
  /* position: absolute; */
  /* float: bottom; */
 /* top:100%; */
/* position: absolute; */

border-bottom: 12px solid #056499;
 display: block;

}
.navmenu{
  /* display: flex; */
  background-color:rgba(0, 0, 0, 0.3) ;
  /* align-items: center; */
  /* justify-content: space-between; */
  /* flex-wrap: wrap; */
}

.navitem>a{
  /* padding:25px 40px; */
  display: inline-block;
  color: white;
  font-size: 28px;
  padding-right: 186px;
  /* font-size: 1.2rem; */
}
.navitem:first-of-type{
  padding-left: 94px;
}
.navitem:last-of-type{
  /* padding-right: 94px; */
padding-right: 0;
}
.navitem>a:hover{
  color:#3b75c3;
}
.active.navitem>a{
  color:#3b75c3;
}

.menu-bar{
  display: none;
}

/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/
.welcome-section>div{
  background-color: white;
}
.welcome{
  padding-top: 112px;
  padding-left: 69px;
  margin-bottom: 20px;
  font-size: 42px;
  color:#a8a7a6;

}

.welcome-message{
  margin-top: 38px;
  margin-bottom: 50px;
  margin-right: 69px;
  padding-left: 69px;
  line-height: 44px;
  font-size: 25px;
  color: #a8a7a6;
}
.welcome-gallery-div{
  margin-left: 69px;
  margin-right: 69px;
  margin-top: 81px;
  padding-bottom: 95px;
}
.welcome-gallery{
  width: 100%;
  /* margin-left: 50px; */
  /* align-items: center; */

  display: flex;
    justify-content: space-between;
  flex-wrap: wrap;
}
.gallery-item{
  flex-basis: 23.48%;
  /* flex-basis: 25%; */
  /* width: 23.63%; */
    /* display: inline; */
    /* margin-right: 2.08%; */
}
/* .gallery-item:nth-of-type(4n){
  margin-right: 0;
} */
.gallery-item>a{
  text-decoration: none;
color:#99a0a7;
}
.gallery-item>a>figure{
  overflow: hidden;
}
.gallery-img:hover{
  transform: scale(1.5);
}
.gallery-img-caption{
  margin-top: 23px;
  margin-bottom: 64px;
  text-align: center;
  font-size: 26px;
  line-height: 1.6;
}

.pagination{
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.pagination-item{
  /* width:20px;
  height: 20px;
  padding: 19px; */
  margin:45px 10px 100px 10px;
  display: block;
  background-color: #ededed;
  text-align: center;
}
.pagination-item:first-of-type{
  background-color: #076599;
}
.pagination-item>a{
  padding: 19px;
  text-decoration: none;
  color:#a8a7a6;
  font-size: 28px;
}
.pagination-item:hover{
  background-color:#076599;
  cursor: pointer;
  transform: scale(1.2);
}
.pagination-item>a:hover{
  color:white;
}
ul.pagination:first-child{
  color: white;
}

.need-help-article{
  padding-top: 76px;
  padding-bottom: 69px;
  background-color: #076599;
  display: flex;
}
.need-help-article>figure{
  /* flex-basis: 30%; */

  display: inline-block;
  width: 25.81%;
}

.need-help-article>figure>img{
  width: 155px;
  margin-bottom: 100px;
  margin-left: 141px;

}
.need-help-div>figure{
  margin:0 auto;
  display: block;
}
.need-help-div{
  /* height: 40vh; */
  /* align-items: center; */
      /* display: flex;
  flex-direction: column;
  justify-content: center; */
  width: 70%;
  display: inline-block;
}
.need-help-div>h2{
  margin-left: 50px;
  /* margin-top: 50px; */
  font-size: 44px;
color:white;
}
.need-help-div>p{
  margin-top: 16px;  
  margin-left: 50px;
  color:white;
  font-size: 26px;
  line-height: 44px;
}
.need-help-div>a{
  width: 100px;
  padding: 20px 33px 16px 33px;
  margin-left: 50px;
  margin-top: 34px;
  border:2px solid white;
  text-decoration: none;
  color: white;
  
}

.need-help-div>a:hover{
  padding-left: 40px;
  background-color: white;
  color:#076599;
  font-weight: bold;
}
.live-chat-btn{
  font-size: 23px;
}
/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 

footer>div{

  display: flex;
  background-color: #333333;
  justify-content: center;
  align-items: center;
}

footer>div>p{
  margin-top: 27px;
  margin-bottom: 16px;
  color:white;
  font-size: 24px;
}




 /*=================================
  footer styling ends here
=================================*/ 

/*media query starts*/
/*media query for 995px starts here*/

@media only screen and (min-width:995px) and (max-width: 1024px) {

.need-help-article>figure>img {
  width: 155px;
  margin-bottom: 100px;
  margin-left: 38px;
}
}

@media only screen and (min-width:768px) and (max-width: 995px) {

  .gallery-item{
    /* flex:25%; */
    flex-basis: 48%;
  }
  .need-help-div>a{
    width: 100px;
    padding:15px 10px;
    margin-left: 51px;
    margin-top: 10px;
    border:2px solid white;
    text-decoration: none;
    color: white;
    
  }
  .need-help-article>figure>img {
    width: 100px;
    margin-bottom: 100px;
    margin-left: 33px;
}
.navitem{
  display: none;
  padding: 0;
}
.menu-bar{
display: block;
cursor: pointer;
float: right;
margin-right: 25px;
}


}  


@media only screen and (max-width:320px){
  .welcome-gallery {
    width: 100%;
    /* margin-left: 50px; */
    /* align-items: center; */
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.gallery-item {
    /* flex: 25%; */
    flex-basis: 96%;
}

a {
    /* display: inline-block; */
        display: inline;

    text-decoration: none;
}
.navitem{
  display: none;
  padding: 0;
}
.menu-bar{
display: block;
cursor: pointer;
float: right;
margin-right: 25px;
}
.welcome {
  padding-top: 112px;
  padding-left: 22px;
}

.welcome-message {
  margin-right: 10px;
  padding-left: 22px;
  font-size: 25px;
/*line-height: 29px;
  font-size: 20px;*/
}

.welcome-gallery-div {
  margin-left: 20px;
  margin-right: 10px;
}


.pagination-item>a {
  padding: 7px;
}

.need-help-article {
  flex-wrap: wrap;
}

.need-help-article>figure {

  width: 95.5%;
}

.need-help-article>figure>img {
 
  margin-left: 37px;
}
.need-help-div {
  /* height: 40vh; */
  /* align-items: center; */
  width: 100%;

}




.need-help-div>h2 {
  margin-left: 50px;
  /* margin-top: 50px; */
  font-size: 34px;
  color: white;
  width: 70%;
}

.need-help-div>p {
  margin-top: 16px;
  margin-left: 33px;
  margin-right: 20px;
  font-size: 20px;
  line-height: 33px;
}


.need-help-div>a {

  margin-left: 24px;
  margin-top: 34px;

   display: inline-block;
}



}
/* @media only screen and (max-width:768px){
  .gallery-item{
  
    flex-basis: 100%;
  }
  .need-help-div>a{
    width: 100px;
    padding:5px 10px;
    margin-left: 10px;
    margin-top: 10px;
    border:2px solid white;
    text-decoration: none;
    color: white;
    
  }
  .need-help-article>figure{
    display: none;
  }

  
} */
